<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>筛选</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sift.css"/>
    <link rel="stylesheet" href="css/head.css"/>
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="js/html5shiv.min.js"></script>-->
    <!--<script src="js/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<div class="container">
    <div id="header"></div>
    <!--<div class="row">-->
        <!--<div class="nav1 col-xs-12">-->
            <!--<ul class="T4090">-->
                <!--<li>-->
                    <!--<img src="img/4090_03.png" alt=""/>-->
                <!--</li>-->
                <!--<li>4090培训评价系统</li>-->
            <!--</ul>-->
            <!--<ul class="info-select">-->
                <!--<li class="bg-color1"><a href="sift.html">信息筛选</a></li>-->
                <!--<li><a href="statistics.html">可视化统计</a></li>-->
            <!--</ul>-->
            <!--<ul class="xiaTing">-->
                <!--<li><img src="img/peo.png" alt=""/></li>-->
                <!--<li>夏婷</li>-->
                <!--<li><img src="img/bot.png" alt=""/></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row content" id="sift">
        <div class="col-xs-3  content-L ">
            <div class="top">
                <span>查看汇总图标</span>
                <span> > </span>
            </div>
            <!--<div class="name">-->
                <!--<span>姓名</span>-->
                <!--<input type="text" placeholder="请输入实习生名字"/>-->
            <!--</div>-->
            <div class="row sex-all">
                <div class="col-xs-6 sex">
                   <span>性别</span>
                   <div class="input-group">
                       <div class="input-group-btn">
                           <select v-model="sift_sex" id="sexs" class="form-control style1 " style="font-size:10px">
                               <option v-for="item in sex">{{item}}</option>
                           </select>
                           <span class="arrow1 "><img src="img/bot2.png" alt=""/></span>
                       </div>
                   </div>
               </div>
                <div class="col-xs-6 sex">
                    <span>面试官</span>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <select v-model="sift_hr" name=""  class="form-control style1" style="font-size:10px">
                                <option v-for="item in hr">{{item}}</option>
                            </select>
                            <span class="arrow2 "><img src="img/bot2.png" alt=""/></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row school-all">
                <div class="col-xs-6 sex">
                    <span>岗位</span>
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <select v-model="sift_job" class="form-control style1" style="font-size:10px">
                                <option  v-for="item in job">{{item}}</option>
                            </select>
                            <span class="arrow1 "><img src="img/bot2.png" alt=""/></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 sex">
                    <span>专业</span>
                    <div class="input-group right-go">
                        <div class="input-group-btn ">
                            <select v-model="sift_major"  class="form-control style1"style="font-size:10px">
                                <option v-for="item in major">{{item}}</option>
                            </select>
                            <span class="arrow3 "><img src="img/bot2.png" alt=""/></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row kinds-all">
                <div class="Y211 col-xs-6" style="font-size:10px">
                    <input type="checkbox"/>
                    211院校
                </div>
                <div class="col-xs-6 sex">
                    <span>学历</span>
                    <div class="input-group right-go">
                        <div class="input-group-btn ">
                            <select v-model="sift_highest_educate"  class="form-control style1" style="font-size:10px">
                                <option v-for="item in highest_educate">{{item}}</option>
                            </select>
                            <span class="arrow1 "><img src="img/bot2.png" alt=""/></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row job">
                <span>学校</span>
                <div class="input-group right-go2">
                    <div class="input-group-btn ">
                        <select v-model="sift_school_name"  class="form-control style1" style="font-size:10px">
                            <option v-for="item in school_name">{{item}}</option>
                        </select>
                        <span class="arrow1 "><img src="img/bot2.png" alt=""/></span>
                    </div>
                </div>
            </div>
            <div class="row time">
                <span>入司时间</span>
                <div class="input-group right-go1">
                    <div class="input-group-btn ">
                        <select name=""  class="form-control style1" style="font-size:10px">
                            <option v-for="item in enterTime">{{item}}</option>
                        </select>
                        <span class="arrow1 "><img src="img/bot2.png" alt=""/></span>
                    </div>
                </div>
            </div>
            <div class="row student">
                <div class="col-xs-6" style="font-size:10px">
                    <input v-model="isFired" type="checkbox"/> 淘汰实习生
                </div>
                <div class="col-xs-6" style="font-size:10px">
                    <input v-model="isNew" type="checkbox"/> 特殊实习生
                </div>
            </div>
            <div class="row low-student">
                <div class="col-xs-6" style="font-size:10px">
                    <input v-model="hasErr" type="checkbox"/>存在严重不符合项
                </div>
            </div>
            <div class="row rank">
                <div class="col-xs-6" style="font-size:10px">
                    <input v-model="back2" type="radio"/> 俩阶段倒数第五
                </div>
                <div class="col-xs-6" style="font-size:10px">
                    <input v-model="back3" type="radio"/> 三阶段倒数第五
                </div>
            </div>
            <div class="row">
                <button class="btn staistic  col-xs-offset-2 col-xs-10 " @click="siftScore()"> 筛选</button>
            </div>
        </div>
        <div id="table" class="col-xs-8 content-M">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10 doit ">
                    <!--<button class="btn btn1"  v-if="isActive">编辑</button>-->
                    <!--<input type="file" name="file" onclick="upload(event)" value="上传文件"/>-->
                    <button class="btn btn2" id="Start1" style="display:block" onclick="startLottery1()" @click="siftJudge()">查看视图表</button>
                    <button class="btn btn5" id="End1" style="display:none" onclick="endGift1()">查看数据表</button>
                    <button class="btn btn1" id="Start" style="display:block" onclick="startLottery()" v-show="isActive">编辑</button>
                    <button class="btn btn4 " id="End" onclick="endGift()" style="display:none">提交</button>
                    <button class="btn btn3">上传个人信息<input type="file" @click="upload(event,'a')" style="opacity: 0;"/></button>
                    <button class="btn btn3s">上传成绩<input type="file" style="opacity: 0;"/></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 scor none1">
                    <table >
                        <tr>
                            <th v-for="item in label" >{{item}}</th>
                            <!--<th>阶段一成绩↓</th>-->
                            <!--<th>阶段二成绩↓</th>-->
                            <!--<th>阶段一成绩↓</th>-->
                            <!--<th>个人信息</th>-->
                            <!--<th>详细信息</th>-->
                        </tr>
                        <tr v-for="i in row">
                            <td v-for="item in i"><input type="text" v-model="item"/></td>
                        </tr>

                    </table>
                    <!--<div class="page-count" style="text-align:center">-->
                        <!--<ul class="pagination">-->
                            <!--<li><a href="#">&laquo;</a></li>-->
                            <!--<li class="active"><a href="#">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#">4</a></li>-->
                            <!--<li><a href="#">5</a></li>-->
                            <!--<li><a href="#">&raquo;</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
                <div id="mainView" ></div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/ajax.js" ></script>
<script src="js/head.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/macarons.js"></script>
<script src="js/mainView.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/http.js"></script>
<script src="js/sift.js"></script>
</body>
</html>