.container{
    margin:0 auto;
}
.DL{
    text-align:center;
    font-size:30px;
}
.photo{
    width:30%;
    height:100px;
    background:red;
    margin-top:71px;
    margin-left:20px;
    float:left;
}
.enter-in{
    margin-top:150px;
    width:500px;
    height:300px;
    border:1px solid #333;
    margin-left:300px;
    text-align: center;
}
.enter{
    width:70%;
    padding-top:85px;
    float:right;
    margin-right:-20px;
}
.user input{
    margin-left:20px;
}
.upwd{
    margin-top:20px;
}
.upwd input{
    margin-left:20px;
}
.AN{
    margin-top:20px;
    margin-right:2px;
}
.AN button{
    width:76%;
}