.container{
    margin:0 auto;
}
.enter{
    height:600px;
    background:url("../img/bg.jpg") no-repeat;
    background-size:cover;
}
.passin{
    height:300px;
    background:rgba(255,255,255,0.8);
    margin-top:150px;
}
.top-input{
    margin-top:80px;
    width:80%;
    border-bottom:1px solid #000;
}
.top-input input{
    width:80%;
    border:0;
    background:rgba(255,255,255,0.8);
}
.next-input{
    margin-top:20px;
    width:80%;
    border-bottom:1px solid #000;
}
.next-input input{
    width:80%;
    border:0;
    background:rgba(255,255,255,0.8);
}