body{
    background:url("../img/bg.png") no-repeat;
    background-size:cover;
}
.container{
    width:100%;
}
#top-all{
    height:662px;
    background-size:cover;
}
.sky{
margin-left:2%;
}
.sky span{
    font-size:26px;
    margin-left:2%;
    padding-top:2%;
    display:inline-block;
    color:#fff;
}
.pic{
    height:147px;
    background:#cccccc;
    margin-top:84px;
    border-radius: 6px;
}
.passin{
    height:320px;
    background:rgba(255,255,255,0.8);
    margin-top:150px;
    border-radius:6px;
}
.top-input{
    margin-top:80px;
    width:80%;
    border-bottom:1px solid #999999;
}
.top-input span{
    float:right;
}
.top-input span img{
    padding-bottom:5px;
}
.top-input input{
    width:80%;
    border:none;
    background:none;
}
.top-input input:focus{
    outline: none;
}
.next-input{
    margin-top:25px;
    width:80%;
    border-bottom:1px solid #ffab66;
}
.next-input input{
    width:80%;
    border:none;
    background:none;
}
.next-input span{
    float:right;
}
.next-input input:focus{
    outline: none;
}
.enter-in{
    text-align:center;
    width:80%;
    margin-top:50px;
}
.pwd{
    display:inline-block;
    width:100%;
    background:#ffab66;
    border:0;
    border-radius:15px;
    height:35px;
    line-height: 35px;
    color:#fff;

}
.pwd:hover{
    cursor:pointer;
    color:#fff;
    text-decoration: none;
}
.rember{
    text-align:center;
    width:80%;
    margin-top:30px;
}
.rember span:last-child{
    margin-left:5px;
}
.box{
    width:12px;
    height:12px;
    display:inline-block;
    border:1px solid #000;
}
.bg-color{
    background:#ffab66;
}