.bg-color1{
    background:#ffa478;
}
.container{
    width:100%;
}
.nav1{
    height:40px;
    background:#ffc28f;
    display:flex;
    justify-content: space-between;
}
.nav1 ul{
    display:flex;
}
.nav1 ul li{
    list-style: none;
    color:#fff;
    text-align: center;
}
.T4090 li:first-child{
    padding-top:2px;
    height:40px;
}
.T4090 li:first-child img{
    width:40px;
    height:40px;
}

.T4090 li:last-child{
    height:40px;
    width:190px;
    line-height: 40px;
    font-size:15px;
}
.info-select{
    margin-left:140px;
}
.info-select li{
    width:150px;
    height:40px;
    line-height:40px;
    font-size:15px;
}
.info-select li a{
    text-decoration: none;
    color:#fff;
    /*display:inline-block;*/
    /*width:150px;*/
    /*height:40px;*/
    /*line-height: 40px;*/
}
/*.xiaTing{*/
/*margin-left:25%;*/
/*}*/
.xiaTing li{
    height:40px;
    width:30px;
    line-height: 40px;
}
.xiaTing li:not(:first-child){
    margin-left:5px;
}
.reset{
    clear:both;
    width:60px;
    padding-right:15px;
}
.reset p{
    font-size:10px;
    color:#000;
}
.reset p:last-child{
    margin-top:-27px;
}
.xiaTing li:last-child img:hover {
    cursor:pointer;
}
.reset p a{
    text-decoration: none;
    cursor:pointer;
}
.none2{
    display:none;
}
.info-select li:hover{
    background:#ffa478;
}